{
  "name": "azure-blob-sink-connector",
  "config": {
    "connector.class": "io.confluent.connect.azure.blob.AzureBlobStorageSinkConnector",
    "tasks.max": "1",
    "topics": "ecommerce_events",
    "format.class": "io.confluent.connect.azure.blob.format.json.JsonFormat",
    "schema.generator.class": "io.confluent.connect.storage.hive.schema.DefaultSchemaGenerator",
    "partitioner.class": "io.confluent.connect.storage.partitioner.DefaultPartitioner",
    "storage.class": "io.confluent.connect.azure.blob.storage.AzureBlobStorage",
    "azblob.account.name": "${env:AZURE_STORAGE_ACCOUNT_NAME}",
    "azblob.account.key": "${env:AZURE_STORAGE_ACCOUNT_KEY}",
    "azblob.container.name": "${env:AZURE_STORAGE_CONTAINER_NAME}",
    "flush.size": "1000",
    "rotate.schedule.interval.ms": "300000",
    "timezone": "UTC",
    "behavior.on.null.values": "ignore",
    "key.converter": "org.apache.kafka.connect.storage.StringConverter",
    "value.converter": "org.apache.kafka.connect.json.JsonConverter",
    "value.converter.schemas.enable": "false",
    "confluent.license": "",
    "confluent.topic.bootstrap.servers": "broker:29092",
    "confluent.topic.replication.factor": "1"
  }
}